.g-artboard {
    margin: 0 auto;
}

/* --- */

#g-Violet_YDY_landing_v5-Desktop {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.g-aiAbs {
    position: absolute;
}

.g-aiImg {
    display: block;
    width: 100% !important;
}

#g-Violet_YDY_landing_v5-Desktop p {
    font-family: nyt-franklin, arial, helvetica, sans-serif;
    font-size: 0.93vw;
    line-height: 18px;
    margin: 0;
}

#g-Violet_YDY_landing_v5-Desktop .g-aiPstyle0 {
    font-size: 2.29vw;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.16666666666667em;
    color: #ffffff;
}

#g-Violet_YDY_landing_v5-Desktop .g-aiPstyle1 {
    font-size: 2.29vw;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.0625em;
    color: #ffffff;
}

#g-Violet_YDY_landing_v5-Desktop .g-aiPstyle2 {
    font-size: 4.14vw;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
}

#g-Violet_YDY_landing_v5-Desktop .g-aiPstyle3 {
    font-size: 2.14vw;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.41666666666667em;
    color: #ffffff;
}

#g-Violet_YDY_landing_v5-Desktop .g-aiPstyle4 {
    font-size: 2vw;
    line-height: 26px;
    position: relative;
    left: -0.8vw;
    bottom: 0.15vw;
    text-transform: uppercase;
    color: #ffffff;
}

.g-aiPtransformed p {
    white-space: nowrap;
}

/* --- */

#g-Violet_YDY_landing_v5-Tablet {
    position: relative;
    overflow: hidden;
    width: 768px;
}

.g-aiAbs {
    position: absolute;
}

.g-aiImg {
    display: block;
    width: 100% !important;
}

#g-Violet_YDY_landing_v5-Tablet p {
    font-family: nyt-franklin, arial, helvetica, sans-serif;
    font-size: 1.69px;
    line-height: 2.34vw;
    margin: 0;
}

#g-Violet_YDY_landing_v5-Tablet .g-aiPstyle0 {
    font-size: 3.91vw;
    line-height: 3.39vw;
    text-align: center;
    letter-spacing: 0.16666666666667em;
    color: #ffffff;
}

#g-Violet_YDY_landing_v5-Tablet .g-aiPstyle1 {
    font-size: 3.13vw;
    line-height: 3.78vw;
    text-align: center;
    letter-spacing: 0.0625em;
    color: #ffffff;
}

#g-Violet_YDY_landing_v5-Tablet .g-aiPstyle2 {
    font-size: 7.55vw;
    line-height: 3.39vw;
    text-align: center;
    color: #ffffff;
}

#g-Violet_YDY_landing_v5-Tablet .g-aiPstyle3 {
    font-size: 3.91vw;
    line-height: 4.69vw;
    text-align: center;
    letter-spacing: 0.41666666666667em;
    color: #ffffff;
}

#g-Violet_YDY_landing_v5-Tablet .g-aiPstyle4 {
    font-size: 2.73vw;
    line-height: 3.39vw;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

.g-aiPtransformed p {
    white-space: nowrap;
}

/* --- */

#g-Violet_YDY_landing_v5-Mobile {
    position: relative;
    overflow: hidden;
    width: 320px;
}

.g-aiAbs {
    position: absolute;
}

.g-aiImg {
    display: block;
    width: 100% !important;
}

#g-Violet_YDY_landing_v5-Mobile p {
    font-family: nyt-franklin, arial, helvetica, sans-serif;
    font-size: 4.06w;
    line-height: 5.63vw;
    margin: 0;
}

#g-Violet_YDY_landing_v5-Mobile .g-aiPstyle0 {
    font-size: 5vw;
    line-height: 5.94vw;
    text-align: center;
    letter-spacing: 0.16666666666667em;
    color: #ffffff;
}

#g-Violet_YDY_landing_v5-Mobile .g-aiPstyle1 {
    font-size: 5vw;
    line-height: 5.94vw;
    text-align: center;
    letter-spacing: 0.16666666666667em;
    color: #000000;
}

#g-Violet_YDY_landing_v5-Mobile .g-aiPstyle2 {
    font-size: 3.13vw;
    line-height: 4.06vw;
    text-align: center;
    letter-spacing: 0.0625em;
    color: #ffffff;
}

#g-Violet_YDY_landing_v5-Mobile .g-aiPstyle3 {
    font-size: 18.13vw;
    line-height: 8.13vw;
    text-align: center;
    color: #ffffff;
}

#g-Violet_YDY_landing_v5-Mobile .g-aiPstyle4 {
    font-size: 3.75vw;
    line-height: 4.38vw;
    text-align: center;
    letter-spacing: 0.02083333333333em;
    color: #ffffff;
}

.g-aiPtransformed p {
    white-space: nowrap;
}
