.cover {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
}

#g-Violet_YDY_landing_v5-Desktop {
    width: 100%;
}

#g-Violet_YDY_landing_v5-Tablet {
    width: 100%;
}

#g-Violet_YDY_landing_v5-Mobile {
    width: 100%;
}

/* Smartphones (portrait) ----------- */
@media (min-device-width: 769px) {
    #g-Violet_YDY_landing_v5-Desktop {
        display: block;
    }

    #g-Violet_YDY_landing_v5-Tablet {
        display: none;
    }

    #g-Violet_YDY_landing_v5-Mobile {
        display: none;
    }
}

@media (min-device-width: 376px) and (max-device-width: 768px) {
    #g-Violet_YDY_landing_v5-Desktop {
        display: none;
    }

    #g-Violet_YDY_landing_v5-Tablet {
        display: block;
    }

    #g-Violet_YDY_landing_v5-Mobile {
        display: none;
    }
}

@media (min-device-width: 0px) and (max-device-width: 375px) {
    #g-Violet_YDY_landing_v5-Desktop {
        display: none;
    }

    #g-Violet_YDY_landing_v5-Tablet {
        display: none;
    }

    #g-Violet_YDY_landing_v5-Mobile {
        display: block;
    }
}
